/* Convecion de Buenas Practicas
    Posicionamiento --> static, absolute, relative, fixed
    Modelo de caja (Box model) --> margin, border, padding, content
    Tipografía --> tipos, tamaños de fuente, etc
    Estilos visuales --> box-shadow, border-radius, gradient, etc
    Otros --> reglas CSS y más

    Despues de aplicar un estilo dar un enter
    Despues de llamar a un clase dar un espacio y a continuacion la llave
 */

:root {
    /* Declaracion de Variables */
    --primary-color:#00adef;
    --secondary-color:#0d5899;
    --third-color:#98999b;
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --warm-black-1: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    /* Fuentes 
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    */
}

/*Seccion de estilos Body-main*/

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-services-container {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.main-services-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.backgroundImg{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url("./assets/icons/pasaporte.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-services-container--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-primario);
    margin-bottom: 30px;
}

.main-services-container--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    margin-bottom: 30px;
}

.main-services-detail {
    width: 100%;
    min-width: 320px;
    height: auto;
}

.service-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    background-color: var(--just-white);
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.service--card-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 10px;
}

.service--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.title-one {
    color: #1A9AF7;
}

.title-two {
    color: #FF9536;
}

.title-tree {
    color: var(--verde-agua);
}

/* Seccion beneficios */
.main-advantage-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
  }
  
  .advantage-detail--logo-home {
    position: absolute;
    top: -20px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-image: url("./assets/icons/avion.png");
    background-size: cover;
  }
  
  .advantage-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  
  .advantage-detail--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-top: 45px;
    margin-bottom: 25px;
    color: var(--just-white);
  }
  
  .advantage-detail--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    margin-bottom: 30px;
  }
  
  .advantage-detail--card {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black-1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }
  
  .advantage-detail--card .card-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    background-image: url("assets/icons/check-circle.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .advantage-detail--card .check {
    background-image: url("assets/icons/check-circle.svg");
  }
  
  .advantage-detail--card .dollar {
    background-image: url("assets/icons/dollar-sign.svg");
  }
  
  .advantage-detail--card .eye {
    background-image: url("assets/icons/eye.svg");
  }
  
  .advantage-detail--card .clock {
    background-image: url("assets/icons/clock.svg");
  }
  
  .advantage--card-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-bottom: 10px;
  }
  
  .advantage--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
  }

  /* Seccion de Grupo de vendedores */
.img-group-sellers-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/imgs/passport-img.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
.img-group-sellers-container h2 {
    padding-top: 65px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
  }

/* Seccion de proyectos */
.main-projects-container {
    width: 100%;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    padding-bottom: 12px;
    background-color: #e5e5e5;
  }
  
  .project--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  
  .project--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-primario);
    padding-top: 50px;
  }
  
  .project--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    margin-top: 25px;
  }
  
  .projects-container--slider {
    display: flex;
    /* justify-content: center; */
    height: 350px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }
  
  .projects-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 280px;
    margin: 20px 15px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  }
  
  .recomended {
    position: absolute;
    width: 120px;
    height: 30px;
    top: -15px;
    left: calc(50% - 55px);
    padding: 8px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--just-white);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
  }
  
  .project-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
  }
  
  .project-card--price {
    padding: 8px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.2rem;
    color: black;
  }
  
  .project-card--price span {
    position: absolute;
    left: calc(50% - 90px);
    top: 65px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
  }
  
  .project-card--advantage {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Inter";
    line-height: 1.4rem;
    color: #757575;
  }
  
  .project-card--location {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Inter";
    line-height: 1.4rem;
    color: #757575;
  }
  
  .project-card--clima {
    padding-bottom: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Inter";
    line-height: 1.4rem;
    color: #757575;
  }
  .asterisco {
    color: red;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
  }
  
  .project-card--ca {
    width: 180px;
    height: 48px;
    margin-top: 15px;
    background-color: var(--off-white);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    font-family: "DM Sans", sans-serif;
  }
  
  .project-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/flecha-correcta.svg");
    vertical-align: text-bottom;
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
  }
